{% extends 'global/base.html' %}

{% block content %}
   <main class="content">
        <div class="responsive-table">
            <table class="contacts-table">
                <caption class="table-caption">
                    Contacts
                </caption>

                <thead>
                    <tr class="table-row table-row-header">
                        <th class="table-header">ID</th>
                        <th class="table-header">First Name</th>
                        <th class="table-header">Last Name</th>
                        <th class="table-header">Phone</th>
                        <th class="table-header">E-mail</th>
                    </tr>
                </thead>
            </table>
        </div>




   </main> 
{% endblock content %}