<!-- HEADER - CABEÇALHO -->

<!-- Cabeçalho da AGENDA no começo do site -->
<header class="header">
    <h1 class="header-heading">
        <a href="{%url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>

    <!-- Menu -->
    <nav class="menu">
        <ul class="menu-list">
            <!-- Link 1 -->
            <li class="menu-item">
                <a href="" class= "menu-link">
                    Link 1
                </a>
            </li>
            <!--  Link 2  -->
            <li class="menu-item">
                <a href="" class= "menu-link">
                    Link 2
                </a>
            </li>
        </ul>
    </nav>

    <!-- Search -->
    <div class="search">
        <form action="{% url 'contact:search' %}" method="GET">
            <input type="search" class="search-input" placeholder="Search" id="search" name="q">
        </form>
    </div>

</header>