<!-- HEADER - CABEÇALHO -->

<!-- Cabeçalho da AGENDA no começo do site -->
<header class="header">
    <h1 class="header-heading">
        <a href="{%url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>

    <!-- Menu -->
    <nav class="menu">
        <ul class="menu-list">

            <!-- Se o usuário estiver logado -->
            {% if user.is_authenticated %}
                <!-- Criar contato -->
                <li class="menu-item">
                    <a href="{% url "contact:create" %}" class= "menu-link">Create</a>
                </li>
                <!--Perfil - Update -->
                <li class="menu-item">
                    <a href="{% url "contact:user_update" %}" class= "menu-link">Profile</a>
                </li>
                <li class="menu-item">
                    <a href="{% url "contact:logout" %}" class= "menu-link">Logout</a>
                </li>
            {% endif %}

        </ul>
    </nav>

    <!-- Search -->
    <div class="search">
        <form action="{% url 'contact:search' %}" method="GET">
            <input type="search" class="search-input" placeholder="Search" id="search" name="q" value="{{ request.GET.q.strip }}">
        </form>
    </div>

</header>